@media screen and (max-width: 790px){
	.contact-form{
		padding: 1rem;
	}
}

@media screen and (max-width: 700px){
	.inputField-group-cont{
		flex-direction: column;
	}
	
	.inputField-cont{
		width: 100%;
		margin-bottom: 1rem;
	}
	
	.inputField-group-cont{
		margin-bottom: 0;
	}
}

@media screen and (max-width: 680px){
	.picture-collage-modal-section{
		padding: 1rem;
		align-items: stretch;
	}
	
	.pic-modal, .pic-modal-cont, .picture-collage-modal{
		height: 100%;
		max-height: 500px;
	}
	
	.img-counter{
		top: 1rem;
		left: 1rem;
	}

	.img-counter > span{
		font-size: 1.2rem;
	}
	
	.modal-closer-cont{
		top: 0.8rem;
		right: 1rem;
	}

	.modal-closer{
		font-size: 2rem;
	}
	
	.pic-cont{
		width: 250px;
	}
}

@media screen and (max-width: 580px){
	.pic-cont, .pic{
		width: 100%;
	}
}

@media screen and (max-width: 550px){
	.contact-form-cont > .sect-title-cont h1{
		line-height: 4rem;
		margin-bottom: 1.6rem;
	}
}

@media screen and (max-width: 490px){	
	.sect-title-cont{
		font-size: 2.5rem;
	}
	
	.sect-title-cont p{
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 460px){
	.vid-slider-box-cont, .footer-cont{
		padding: 0 1rem;
	}
	
	.picture-collage-section, .contact-section{
		padding: 1rem;
	}
	
	.left-arrow, .right-arrow{
		font-size: 1.8rem;
	}
	
	.left-arrow i, .right-arrow i{
		padding: 20px;
	}
	
	.dot-cont{
		height: 30px;
		width: 30px;
	}
	
	.enlargePic{
		height: 50px;
		width: 50px;
	}
}