@media screen and (max-width: 680px){
	.picture-collage-modal-section{
		padding: 1rem;
	}
	
	.pic-modal{
		height: 100%;
		max-height: 500px;
	}
	
	.img-counter{
		top: 1rem;
		left: 1rem;
	}

	.img-counter > span{
		font-size: 1.2rem;
	}
	
	.modal-closer-cont{
		top: 0.8rem;
		right: 1rem;
	}

	.modal-closer{
		font-size: 2rem;
	}
	
	.pic-cont{
		width: 250px;
	}
}

@media screen and (max-width: 580px){
	.pic-cont, .pic{
		width: 100%;
	}
}

@media screen and (max-width: 490px){
	.sect-title-cont{
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 460px){
	.vid-slider-box-cont{
		padding: 0 1rem;
	}
	
	.picture-collage-section{
		padding: 1rem;
	}
	
	.left-arrow, .right-arrow{
		font-size: 1.8rem;
	}
	
	.left-arrow i, .right-arrow i{
		padding: 20px;
	}
	
	.dot-cont{
		height: 30px;
		width: 30px;
	}
	
	.enlargePic{
		height: 50px;
		width: 50px;
	}
}