<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/Tharo-icon.png">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/all.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<% if(req.url !== '/') { %>
<link rel="stylesheet" href="/CSS/submission-results.css">
<% if(req.url === '/submission-success') { %>
<title>Successful Submission | Tharo</title>
<% }else { %>
<title>Failed Submission | Tharo</title>
<% }%>

<% }else { %>
<link rel="stylesheet" href="/CSS/index.css">
<link rel="stylesheet" href="/CSS/index-mobile.css">
<title>Tharo</title>
<% } %>
</head>