<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<link rel="icon" type="image/png" href="/media/Images/Tharo-icon.png">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/all.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<% if(req.url !== '/') { %>

<% const formSubUrls = ['/submission-success', '/submission-failure', '/password-created-success'
,'/password-created-failure','/password-reset-success','/password-reset-failure']; %>

<% const routeFileAdder = (url) => { %>
	
	<% if(req.url === url) { %>
		<link rel="stylesheet" href="/CSS/submission-results.css">
	<% } %>
	
<% } %>

<% formSubUrls.forEach(routeFileAdder); %>

<% if(req.url === "/create-password" || req.url === '/login' || req.url === '/login/' || req.url === '/reset') { %>
	<link rel="stylesheet" href="/CSS/login.css">
	<link rel="stylesheet" href="/CSS/login-mobile.css">
<% } %>

<% if(req.url === '/submission-success' || req.url === "/password-created-success" || req.url === "/password-reset-success") { %>
<% if(req.url === '/submission-success') { %>
<title>Successful Submission | Tharo</title>
<% }else if(req.url === "/password-created-success"){ %>
<title>Password Created | Tharo</title>
<% } else {%>
<title>Password Reset Success | Tharo</title>
<% } %>
<% }else if(req.url === '/submission-failure' || req.url === "/password-created-failure" || req.url === "/password-reset-failure"){ %>
<% if(req.url === '/submission-failure') { %>
<title>Failed Submission | Tharo</title>
<% }else if(req.url === "/password-created-failure"){ %>
<title>Password Creation failure | Tharo</title>
<% }else{ %>
<title>Password Reset failure | Tharo</title>
<% } %>
<% } else if(req.url === '/login' || req.url === '/login/') { %>
<title>Login | Tharo</title>
<% }else if(req.url === "/create-password"){ %>
<title>Create Password | Tharo</title>
<% }else if(req.url === "/reset"){ %>
<title>Reset Password | Tharo</title>
<% }else if(req.url === "/dashboard/" || req.url === "/dashboard"){ %>
<link rel="stylesheet" href="/CSS/dashboard.css">
<link rel="stylesheet" href="/CSS/dashboard-mobile.css">
<title>Dashboard | Tharo</title>
<% }else if(req.url === '/pictures'){ %>
<link rel="stylesheet" href="/CSS/pictures.css">
<link rel="stylesheet" href="/CSS/pictures-mobile.css">
<title>My Pictures | Tharo</title>
<% }else if(req.url === '/upload-pictures'){ %>
<link rel="stylesheet" href="/CSS/uploader.css">
<link rel="stylesheet" href="/CSS/uploader-mobile.css">
<title>Upload Pictures | Tharo</title>
<% } %>

<% }else { %>
<link rel="stylesheet" href="/CSS/index.css">
<link rel="stylesheet" href="/CSS/index-mobile.css">
<title>Tharo</title>
<% } %>
</head>