<!DOCTYPE html>
<html lang="en-US">
<%- include("partials/head-info") -%>
<body>
	
	<div class="form-card-cont">
		<div class="card-cont">
			<div class="form-title-img-cont">
				<img src="/media/Images/Tharo-icon.png" class="form-title-img">
			</div>
			
			<div class="form-cont">
				<form method="POST" action="/create-password" class="form">
					
					<div class="input-cont">
						<input type="text" placeholder="Full Name" class="input-styling" id="name" name="name">
						<label for="name">Full Name</label>
						<span class="err-msg"></span>
					</div>
					
					<div class="input-cont">
						<input type="text" placeholder="Enter your ID" class="input-styling" id="ID" name="ID">
						<label for="ID">ID</label>
						<span class="err-msg"></span>
					</div>
					
					<div class="input-cont">
						<input type="password" placeholder="Password" class="input-styling" id="pwd" name="password">
						<label for="pwd">Password</label>
						<span class="err-msg"></span>
					</div>
					
					<div class="input-cont last-child">
						<input type="password" placeholder="Confirm" class="input-styling" id="confirm" name="confirm">
						<label for="confirm">Confirm Password</label>
						<span class="err-msg"></span>
					</div>
					
					<div class="sub-btn-cont">
						<input type="submit" value="Create password" id="sub-btn">
					</div>
					
				</form>
			</div>
		</div>
	</div>
</body>
<!-- <script src="/JS/auth.js"></script> -->
</html>