<!DOCTYPE html>
<html lang="en-US">
<%- include("partials/head-info") -%>
<body>

<div class="header-cont">
	<div class="header">
		<div class="logout-cont">
			<a href="/logout">logout</a>
		</div>
	</div>
</div>

<div class="dash-link-boxes-cont">
	<div class="dash-link-boxes">
		<a href="/dashboard/pictures" class="dash-link-box">
			<h4>My Pictures</h4>
		</a>
		
		<a href="/dashboard/videos" class="dash-link-box">
			<h4>My Videos</h4>
		</a>
	</div>
</div>

</body>
<!-- <script src=""></script> -->
</html>