<!DOCTYPE html>
<html>
<%- include("partials/head-info") -%>
<body>

<div class="header-cont">
	<div class="header">
		<a href="/dashboard" class="page-title-cont">
			<i class="fa fa-arrow-left"></i>
			<% if(req.url === "/upload-pictures") {%>
			<h1 class="page-title">Upload Pictures</h1>
			<% }else { %>
			<h1 class="page-title">Upload Videos</h1>
			<% } %>
		</a>
		
		<div class="logout-cont">
			<a href="/logout">logout</a>
		</div>
	</div>
</div>

<div class="upload-cont">
	<div class="upload">
		
		<div class="arrow-cont">
			<i class="fa fa-chevron-left arrows"></i>
		</div>
		
		<form action="/upload-pictures" method="POST" enctype="multipart/form-data" class="upload-form">
			<div class="upload-title-cont">
			<% if(req.url === "/upload-pictures") { %>
				<h1> Upload Images </h1>
				<ul class="upload-instructions-cont">
					<li>You can upload .png, .jpg or jpeg images.</li>
					<li>Maximum file size should be 5MB.</li>
					<li>3264 x 2448 file size is recommended.</li>
				</ul>
			<% }else{ %>
				<h1> Upload Videos </h1>
				<ul class="upload-instructions-cont">
					<li>Only .mp4 videos are allowed.</li>
					<li>Maximum file size should be 200MB.</li>
				</ul>
			<% } %>
			</div>
			
			<div class="drage-drop-box-cont">
			<% if(req.url === "/upload-pictures") {%>
				<div class="drag-drop-req-cont">
					<div class="dd-img-cont">
						<img src="/upl-img.png" class="dd-img">
					</div>
					
					<div class="dd-title-cont">
						<h1>Drag and drop an image to upload, or</h1>
						<label class="uploadImg-btn-cont">
							<input type="file" id="file-upload" class="Image-upload" name="file_upload" accept="image/*" multiple />
							<span class="upload-btn">Browse Computer</span>
						</label>
					</div>
					
					<ul class="upload-instructions-cont">
						<li>You can upload .png, .jpg or jpeg images.</li>
						<li>Maximum file size should be 5MB.</li>
						<li>3264 x 2448 file size is recommended.</li>
					</ul>
				</div>
			<% }else { %>
				<div class="drag-drop-req-cont">
					<div class="dd-img-cont">
						<img src="/upl-vid.png" class="dd-img">
					</div>
					
					<div class="dd-title-cont">
						<h1>Drag and drop an video to upload, or</h1>
						<label class="uploadImg-btn-cont">
							<input type="file" id="file-upload" class="Image-upload" name="file_upload" accept="video/*" multiple />
							<span class="upload-btn">Browse Computer</span>
						</label>
					</div>
					
					<ul class="upload-instructions-cont">
						<li>Only .mp4 videos are allowed.</li>
						<li>Maximum file size should be 200MB.</li>
					</ul>
				</div>
			<% } %>
			</div>
			
			<% if(req.url === "/upload-pictures") { %>
			<input type="submit" value="Upload Images" class="sub-btn" id="sub-btn">
			<% }else { %>
			<input type="submit" value="Upload Videos" class="sub-btn" id="sub-btn">
			<% } %>
		</form>
		
		<div class="arrow-cont">
			<i class="fa fa-chevron-right arrows"></i>
		</div>
	</div>
</div>

<script src="/JS/uploader.js"></script>
</body>
</html>