<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/Tharo-icon.png">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/CSS/index.css">
<link rel="stylesheet" href="/CSS/index-mobile.css">
<title>Tharo</title>
</head>
<body>
	
	<header>
	
		<div class="header">
		
			<div class="logo-cont">
				
				<img src="/Images/Tharo.png" class="logo">
				
			</div>
			
			<div class="bg-color-toggle-cont">
			
				<div class="bg-color-toggle"></div>
				
				<div class="bg-color-bundle-cont">
					
					
				
				</div>
			
			</div>
		
		</div>
	
	</header>
	
</body>
<script>
</script>
</html>