<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/Tharo-icon.png">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/CSS/index.css">
<link rel="stylesheet" href="/CSS/index-mobile.css">
<title>Tharo</title>
</head>
<body>
	
	<header id="header-cont">
	
		<div class="header-cont">
		
			<div class="header">
			
				<div class="logo-cont">
					
					<a href="/">
						<img src="/Images/Tharo.png" class="logo">
					</a>
					
				</div>
				
				<div class="bg-color-toggle-cont">
				
					<div class="bg-color-toggle navy-blue" title="Theme-Switcher"></div>
					
					<div class="bg-color-toggle-bundle">
					
						<div class="bg-color-toggle living-coral" title="living-coral"></div>
						<div class="bg-color-toggle rose-quartz" title="rose-quartz"></div>
						<div class="bg-color-toggle navy-blue" id="border" title="navy-blue"></div>
						<div class="bg-color-toggle black" title="black"></div>
						<div class="bg-color-toggle lime" title="lime"></div>
						<div class="bg-color-toggle white" title="white"></div>
					
					</div>
				
				</div>
			
			</div>
			
		</div>
		
	</header>
	
	<aside id="nav-cont">
	
		<nav id="nav" class="nav">
		
			<ul class="nav-list">
			
				<li>
					<a href="#home">
					
						<i class="fa fa-home"></i>
						<h1>Home</h1>
					</a>
				</li>
				
				<li>
					<a href="#about-tharo">
						
						<div class="dog-icon-cont">
							<img src="/Images/Tharo.png" class="dog-icon">
						</div>
						
						<h1>About-Tharo</h1>
					</a>
				</li>
				
				<li>
					<a href="#tharos-videos">
					
						<i class="fa fa-video"></i>
						<h1>Videos</h1>
					</a>
				</li>
				
				<li>
					<a href="#tharos-pictures">
					
						<i class="fa fa-camera"></i>
						<h1>Pictures</h1>
					
					</a>
				</li>
				
				<li>
					<a href="#contact">
					
						<i class="fa fa-phone"></i>
						<h1>Contact-Tharo</h1>
					
					</a>
				</li>
			
			</ul>
		
		</nav>
	
	</aside>
	
	<section id="home">
		<!-- autoplay -->
		<video  muted class="home-page-vid" id="home-page-vid">
			
			<source src="/videos/Tharo-home-vid.mp4" type="video/mp4" id="home-vid">
			
		</video>
		
		<div class="video-title-cont" id="video-title-cont">
			
			<div class="video-title">
				
				<h1>
					Th
				<div class="video-title-img-cont">
					<img src="/Images/Tharo-icon.png" class="video-title-img">
				</div>
					ro
				</h1>
				
			</div>
			
			<div class="tharo-intro">
				
				<p id="intro-msg"></p>
			
			</div>
		
		</div>
	
	</section>
	
	<section id="about-tharo">
		<!-- autoplay -->
		<video muted class="abt-us-page-vid" id="abt-us-page-vid">
			
			<source src="/videos/about-us-vid-1.mp4" type="video/mp4" class="home-vid">
			
		</video>
		
		<div class="about-us-video-title-cont" id="about-us-video-title-cont">
			
			<div class="about-us-cont">
				<div class="about-us-title-cont">
					
					<h1> About Me </h1>
					
				</div>
				
				<div class="about-us-descript-cont">
					
					<p>
						Hi again, as I said at the beginning of this page, my name is Tharo, I am a 7th-week old Doberman puppy. My name, 
						Tharo, is a name that is of the origin of an African language called Setswana, it translates to 3 in English. 
						Why was I given the name Tharo? That's because I was born with only 3 legs. My disability hasn't stopped me from being the energetic, 
						active, and playful puppy that I am. Although I might look very different from my siblings, 
						I am no different from them in regards to capability because I can still do everything that they can. 
						I am currently looking for a place to call home and would love for YOU to give me the opportunity to do so. 
					</p>
					
				</div>
			</div>
			
		</div>
	
	</section>
	
	<section id="tharos-videos">
	
		<div class="sect-title-cont">  
			
			<h1> Videos </h1>
			<p>Check out of my videos</p>
			
		</div>
	
		<div class="vid-slider-box-cont">
		
			<div class="vid-slider-box">
			
				<div class="left-arrow">
					<i class="fa fa-angle-double-left"></i>
				</div>
				
				<div class="right-arrow">
					<i class="fa fa-angle-double-right"></i>
				</div>
				
				<div class="vid-slider-cont">
				
					<ul class="vid-slider-list-cont">
						
						<li>
							<img src="/Images/IMG_2021-09-04-17-00-28-443.jpg" class="slider-vid">
						</li>
						
					</ul>
				
				</div>
			
			</div>
		
		</div>
	
	</section>
	
</body>
<script src="/JS/index.js"></script>
</html>