<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/Tharo-icon.png">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/CSS/index.css">
<link rel="stylesheet" href="/CSS/index-mobile.css">
<title>Tharo</title>
</head>
<body>
	
	<header>
	
		<div class="header-cont">
		
			<div class="header">
			
				<div class="logo-cont">
					
					<a href="/">
						<img src="/Images/Tharo.png" class="logo">
					</a>
					
				</div>
				
				<div class="bg-color-toggle-cont">
				
					<div class="bg-color-toggle navy-blue" title="Theme-Switcher"></div>
					
					<div class="bg-color-toggle-bundle">
					
						<div class="bg-color-toggle living-coral" title="living-coral"></div>
						<div class="bg-color-toggle rose-quartz" title="rose-quartz"></div>
						<div class="bg-color-toggle navy-blue" id="border" title="navy-blue"></div>
						<div class="bg-color-toggle black" title="black"></div>
						<div class="bg-color-toggle lime" title="lime"></div>
						<div class="bg-color-toggle white" title="white"></div>
					
					</div>
				
				</div>
			
			</div>
			
		</div>
		
	</header>
	
	<aside id="nav-cont">
	
		<nav id="nav" class="nav">
		
			<ul class="nav-list">
			
				<li>
					<a href="#home">
					
						<i class="fa fa-home"></i>
						<h1>Home</h1>
					</a>
				</li>
				
				<li>
					<a href="#about-tharo">
						
						<div class="dog-icon-cont">
							<img src="/Images/Tharo.png" class="dog-icon">
						</div>
						
						<h1>About-Tharo</h1>
					</a>
				</li>
				
				<li>
					<a href="#tharos-videos">
					
						<i class="fa fa-video"></i>
						<h1>Videos</h1>
					</a>
				</li>
				
				<li>
					<a href="#tharos-pictures">
					
						<i class="fa fa-camera"></i>
						<h1>Pictures</h1>
					
					</a>
				</li>
				
				<li>
					<a href="#contact">
					
						<i class="fa fa-phone"></i>
						<h1>Contact-Tharo</h1>
					
					</a>
				</li>
			
			</ul>
		
		</nav>
	
	</aside>
	
	<section id="home">
	
		<video autoplay muted class="home-page-vid" id="home-page-vid">
			
			<source src="/videos/Tharo-home-vid.mp4" type="video/mp4" id="home-vid">
			
		</video>
		
		<div class="video-title-cont" id="video-title-cont">
			
			<div class="video-title">
				
				<h1>
					Th
				<div class="video-title-img-cont">
					<img src="/Images/Tharo-icon.png" class="video-title-img">
				</div>
					ro
				</h1>
				
			</div>
			
			<div class="tharo-intro">
				
				<p id="intro-msg"></p>
			
			</div>
		
		</div>
	
	</section>
	
</body>
<script src="/JS/index.js"></script>
</html>