<!DOCTYPE html>
<html>
<%- include("partials/head-info") -%>
<body>

<div class="header-cont">
	<div class="header">
		<a href="/dashboard" class="page-title-cont">
			
			<i class="fa fa-arrow-left"></i>
			<h1 class="page-title">My Pictures</h1>
			
		</a>
	
		<div class="logout-cont">
			<a href="/logout">logout</a>
		</div>
	</div>
</div>

<div class="my-pictures-cont">
	<div class="my-pictures">
		
	</div>
</div>

</body>
<!-- <script src=""></script> -->
</html>