<!DOCTYPE html>
<html>
<%- include("partials/head-info") -%>
<body>

<div class="header-cont">
	<div class="header">
		<a onclick="history.back()" class="page-title-cont" >
			<i class="fa fa-arrow-left"></i>
			<h1 class="page-title">My Pictures</h1>
		</a>
		
		<div class="upload-logout-cont">
			<div class="upload-btn-cont">
				<a href="/upload-pictures" class="upload-btn">Upload An Image</a>
			</div>
			
			<div class="logout-cont">
				<a href="/logout">logout</a>
			</div>
		</div>
	</div>
</div>

<div class="my-pictures-cont">
	<div class="img-count-cont">
		<span class="img-count">0 Images</span>
	</div>
	
	<!-- <div class="my-pictures">
		
		<div class="my-picture-card-cont">
			<div class="my-picture-card">
				<div class="my-picture-card-content">
					<img src="/media/Images/Pictures/Pic-1.jpg" class="pic">
				</div>
			</div>
			
			<div class="close-pic-cont" title="Delete Image">
				<i class="fas fa-trash cross"></i>
			</div>
		</div>
		
	</div> -->
	
	<div class="not-found-cont">
		<div class="not-found">
			<div class="not-found-title-cont">
				<h1>No Pictures</h1>
			</div>
			
			<div class="not-found-title-img">
				<img src="/media/Images/not-found.png" class="not-found-img">
			</div>
			
			<div class="upload-btn-cont">
				<a href="/upload-pictures" class="upload-btn">Upload A New Image</a>
			</div>
		</div>
	</div>
	
</div>

</body>
<script src=""></script>
</html>