<!DOCTYPE html>
<html>
<%- include("partials/head-info") -%>
<body>

<div class="header-cont">
	<div class="header">
		<a href="/dashboard" class="page-title-cont">
			
			<i class="fa fa-arrow-left"></i>
			<h1 class="page-title">My Pictures</h1>
			
		</a>
	
		<div class="logout-cont">
			<a href="/logout">logout</a>
		</div>
	</div>
</div>

<div class="my-pictures-cont">
	<div class="my-pictures">
		
		<div class="my-picture-card-cont">
			<div class="my-picture-card">
				<div class="my-picture-card-content">
					<img src="/media/Images/Pictures/Pic-1.jpg" class="pic">
				</div>
			</div>
		</div>
		
		<div class="my-picture-card-cont">
			<div class="my-picture-card">
				<div class="my-picture-card-content">
					<img src="/media/Images/Pictures/Pic-2.jpg" class="pic">
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="not-found">
	
	</div>
</div>

</body>
<!-- <script src=""></script> -->
</html>