@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%20|%20Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%20|%20Hind:300,400,500,600,700');

*{
	box-sizing: border-box;
}

::-moz-selection {
	color: #fff;
	background-color: #BE6526;
}

::selection {
	color: #fff;
	background-color: #BE6526;
}

body{
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	background-color: #FFD59A;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url('/Images/Dog-accessories.png');
}

a{
	text-decoration: none;
}

.header-cont{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 2rem;
}

.header{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	max-width: 1280px;
}

.logout-cont a{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	color: #fff;
	background-color: rgba(240, 101, 38, 1);
	border-radius: 5px;
	font-size: 1.2rem;
	transition: 0.2s;
}

.logout-cont a:hover{
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	background-color: #BE6526;
}

.dash-link-boxes-cont{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
	height: 100vh;
}

.dash-link-boxes{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	max-width: 1170px;
	flex-wrap: wrap;
}

.dash-link-box{
	display: flex;
	color: rgba(240, 101, 38, 1);
	font-size: 1.5rem;
	align-items: center;
	justify-content: center;
	height: 300px;
	width: 300px;
	max-width: 100%;
	border-radius: 20px;
	transition: 0.2s;
	margin: 1rem;
	background-color: #FFD59A;
	box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.dash-link-box:hover{
	color: #fff;
	background-color: rgba(240, 101, 38, 1);
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
}